@model LiquidWork.WebUI.Models.ConceptoViewModel
@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Concepto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Empleado
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Legajos" asp-action="Details" asp-route-id="@Model.Legajo.NumeroLegajo">@Html.DisplayFor(model => model.Legajo.NombreCompleto)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Legajo.NumeroLegajo)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Legajos" asp-action="Details" asp-route-id="@Model.Legajo.NumeroLegajo">@Html.DisplayFor(model => model.Legajo.NumeroLegajo)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LiquidacionId)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Liquidaciones" asp-action="Details" asp-route-id="@Model.LiquidacionId">@Html.DisplayFor(model => model.LiquidacionId)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoConcepto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoConcepto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConcepto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreConcepto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConcepto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoConcepto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConceptoId">Editar</a> |
</div>
