@model IEnumerable<LiquidWork.WebUI.Models.ConceptoViewModel>

@{
    ViewData["Title"] = "Conceptos";
}

    <h1>Conceptos
    </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoConcepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreConcepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoConcepto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoConcepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreConcepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConcepto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConceptoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ConceptoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ConceptoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
