@model LiquidWork.Core.Model.Legajo

@{
    ViewData["Title"] = "Detalles";
}

    <h1>Detalles</h1>

<div>
    <h4>Legajo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroLegajo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroLegajo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CUIL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CUIL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.NumeroLegajo">Editar</a> 
    <a asp-action="Index">Volver a la lista</a>
</div>

<h4>Liquidaciones</h4>

<a asp-controller="Liquidaciones" asp-action="Create" asp-route-numeroLegajo="@Model.NumeroLegajo">Agregar liquidación</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Liquidaciones.FirstOrDefault().Periodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Liquidaciones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Liquidaciones" asp-action="Details" asp-route-id="@item.LiquidacionId">Detalles</a> 
                    <a class="btn btn-danger" asp-controller="Liquidaciones" asp-action="Delete" asp-route-id="@item.LiquidacionId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>