@model IEnumerable<LiquidWork.Core.Model.Legajo>

@{
    ViewData["Title"] = "Legajos";
}

<h1>Legajos</h1>

<p>
    <a asp-action="Create">Crear nuevo legajo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroLegajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroLegajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroLegajo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroLegajo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroLegajo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
