@model LiquidWork.WebUI.Models.LiquidacionViewModel

@{
    ViewData["Title"] = "Detalles";
}

    <h1>Detalles</h1>

<div>
    <h4>Liquidacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LiquidacionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LiquidacionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRemunerativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRemunerativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNoRemunerativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalNoRemunerativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDeducciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalDeducciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Neto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Neto)
        </dd>
        <dt class="col-sm-2">
            Empleado
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Legajos" asp-action="Details" asp-route-id="@Model.NumeroLegajo">@Html.DisplayFor(model => model.NombreCompleto)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroLegajo)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Legajos" asp-action="Details" asp-route-id="@Model.NumeroLegajo">@Html.DisplayFor(model => model.NumeroLegajo)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LiquidacionId">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h4>Conceptos</h4>
<a asp-controller="Conceptos" asp-action="Create" asp-route-liquidacionId="@Model.LiquidacionId">Agregar concepto</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conceptos.FirstOrDefault().CodigoConcepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conceptos.FirstOrDefault().NombreConcepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conceptos.FirstOrDefault().Factor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conceptos.FirstOrDefault().Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conceptos.FirstOrDefault().TipoConcepto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Conceptos.OrderBy(c=>c.Posicion))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoConcepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreConcepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Factor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoConcepto)
                </td>
                <td>
                    <a asp-controller="Conceptos" asp-action="Details" asp-route-id="@item.ConceptoId">Detalles</a> |
                    <a asp-controller="Conceptos" asp-action="Edit" asp-route-id="@item.ConceptoId">Editar</a> |
                    <a asp-controller="Conceptos" asp-action="Delete" asp-route-id="@item.ConceptoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>